/* Welcome to Compass. * In this file you should write your main styles. (or centralize your imports) * Import this file using the following HTML or equivalent:* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,600,700");
/* line 5, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, compass/sass/main.scss */
a {
  color: #333;
}
/* line 13, compass/sass/main.scss */
a:hover {
  background-color: #eee;
}

/* line 17, compass/sass/main.scss */
* {
  box-sizing: border-box;
  padding: 0;
}

/* line 21, compass/sass/main.scss */
em {
  font-style: italic;
}

/* line 24, compass/sass/main.scss */
body {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 130%;
}

/* line 30, compass/sass/main.scss */
h1 {
  font-size: 2rem;
  text-align: center;
}

/* line 34, compass/sass/main.scss */
section.content {
  max-width: 1000px;
  text-align: left;
  padding: 2rem 1rem;
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 620px) {
  /* line 34, compass/sass/main.scss */
  section.content {
    padding: 0.5rem 1rem;
  }
}

/* line 43, compass/sass/main.scss */
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-center: center;
  margin: 0 0 1rem 0;
}
@media (min-width: 0) and (max-width: 620px) {
  /* line 43, compass/sass/main.scss */
  nav {
    align-items: flex-start;
  }
}
/* line 52, compass/sass/main.scss */
nav .logo {
  width: 220px;
  display: inline-block;
  border-right: 4px solid #fffafa;
  border-bottom: 4px solid #fffafa;
}
/* line 57, compass/sass/main.scss */
nav .logo a:hover {
  background-color: transparent;
}
/* line 60, compass/sass/main.scss */
nav .logo img, nav .logo svg {
  width: 100px;
  height: auto;
  border: none;
}
/* line 66, compass/sass/main.scss */
nav ul {
  position: absolute;
  right: 0;
  border-bottom: 4px solid #fffafa;
}
@media (min-width: 0) and (max-width: 620px) {
  /* line 66, compass/sass/main.scss */
  nav ul {
    position: relative;
  }
}
/* line 73, compass/sass/main.scss */
nav ul li {
  display: inline-block;
  padding: 0 15px;
  line-height: 160%;
}
/* line 77, compass/sass/main.scss */
nav ul li a {
  text-decoration: none;
}
@media (min-width: 0) and (max-width: 620px) {
  /* line 73, compass/sass/main.scss */
  nav ul li {
    display: block;
    margin: 7px;
    padding: 3px;
    background-color: #eee;
  }
}

/* line 89, compass/sass/main.scss */
#__blaze-root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0 3rem 0;
}
/* line 93, compass/sass/main.scss */
#__blaze-root p {
  text-align: left;
  padding: 1rem 0;
}

/* line 98, compass/sass/main.scss */
main {
  padding: 1rem 0 2rem 0;
}

/* line 101, compass/sass/main.scss */
.homelink {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px 0;
}
@media (min-width: 620px) {
  /* line 106, compass/sass/main.scss */
  .homelink:nth-of-type(2n+1) {
    margin: 0 20px 20px 0;
  }
}

/* line 111, compass/sass/main.scss */
audio {
  cursor: pointer;
  border: 1px solid #999;
  padding: 0.3rem 0;
  margin: .8rem 0;
  height: 3rem;
}
/* line 117, compass/sass/main.scss */
audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-timeline, audio::-webkit-media-controls-volume-slider {
  cursor: pointer;
}
/* line 120, compass/sass/main.scss */
audio::-webkit-media-controls-panel {
  background-color: #fff !important;
}

/* line 124, compass/sass/main.scss */
.artworkcontainer {
  padding: 2rem 0;
}
/* line 126, compass/sass/main.scss */
.artworkcontainer img {
  width: 100%;
  display: block;
  border: none;
  max-width: 400px;
  margin: 0 0 1.6rem 0;
}
@media (min-width: 620px) {
  /* line 133, compass/sass/main.scss */
  .artworkcontainer .desktop-inline-block {
    width: 48%;
    padding: 0 3rem 0 0;
  }
}

/* line 140, compass/sass/main.scss */
.homecontainer {
  text-align: left;
}
/* line 142, compass/sass/main.scss */
.homecontainer img {
  width: 100%;
  display: block;
  border: none;
  margin: 0 auto 1.6rem auto;
}
/* line 148, compass/sass/main.scss */
.homecontainer img.oneimage {
  max-width: 200px;
}
/* line 151, compass/sass/main.scss */
.homecontainer img.twoimages {
  max-width: 175px;
}
@media (min-width: 620px) {
  /* line 151, compass/sass/main.scss */
  .homecontainer img.twoimages {
    margin: 0 1rem 1.6rem 1rem;
  }
}
/* line 157, compass/sass/main.scss */
.homecontainer .inline-block {
  vertical-align: top;
  display: inline-block;
  width: 49%;
  max-width: 200px;
  padding: 0 1rem 0 0;
  text-align: left;
}

/* line 166, compass/sass/main.scss */
.home-inline-block {
  display: inline-block;
  max-width: 480px;
  background-color: #eee;
  padding: 1rem 0 1rem 1rem;
}

/* line 172, compass/sass/main.scss */
.desktop-inline-block {
  vertical-align: top;
  display: inline-block;
}
@media (min-width: 0) and (max-width: 620px) {
  /* line 172, compass/sass/main.scss */
  .desktop-inline-block {
    padding: 0 1rem 2rem 0;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 172, compass/sass/main.scss */
  .desktop-inline-block {
    display: block;
    width: 100%;
    padding: 0 0 2rem 0;
  }
}

/* line 184, compass/sass/main.scss */
strong {
  font-weight: 700;
}

/* line 187, compass/sass/main.scss */
h1 {
  margin: 4rem 0 1rem 0;
  text-align: left;
  font-family: 'Rajdhani', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 130%;
}

/* line 194, compass/sass/main.scss */
.artworkpage {
  border-bottom: 4px solid #fffafa;
}
/* line 196, compass/sass/main.scss */
.artworkpage h1, .artworkpage audio {
  display: inline-block;
  margin: 1rem 2rem 1rem 0;
  vertical-align: top;
}

/* line 204, compass/sass/main.scss */
.homepage p, .homepage audio {
  display: inline-block;
  vertical-align: top;
  margin: 0 1rem 1rem 0;
}
/* line 209, compass/sass/main.scss */
.homepage p {
  font-family: 'Rajdhani', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 0) and (max-width: 480px) {
  /* line 209, compass/sass/main.scss */
  .homepage p {
    margin: 0;
  }
}

/* line 217, compass/sass/main.scss */
footer {
  border-top: 8px solid #fffafa;
  padding: 1rem 0;
}
/* line 220, compass/sass/main.scss */
footer p {
  text-align: center !important;
}
